<div class="col-md-6 col-md-offset-3">
<div class="row">
  <div class="col-s-10">

      <p>
        <q>A full stack web developer who accurately targets problems by asking the right questions, and efficiently arrives at the solution. I am indispensable in high stress situations where decisiveness and a cool head are key.
    <br> <br>
        Currently, the task at hand is to master front-end development frameworks such as Angular, React, and Backbone JS, in order to hone the craft of creating engaging, and modern UIs that deliver superior user experience and functionality in a highly responsive and interactive format.
      </p>


  </div>

</div>
</div>
