<div class="col-md-8 col-md-offset-2">
  <h5>D.C. Metropolitan Area | MohamedRChalal@gmail.com | (703) 255-1697</h4>

      <h2>Educaton &amp; Skills</h2>
      <h3>General Assembly - Washington, DC</h3>
      <h5>12 hours of coding a day, 6 days a week, for 12 weeks"</h5>
      <h3>The Art Institute of Washington - Arlington, Va.</h3>
      <h4>Bachelor of Arts in Audio Production</h4>
      <h3>Northern Virginia Community College - Annandale, VA.</h3>
      <h4>Associate in Business Administration</h4>
      <br>
      <h2>Languages</h2>
      <h5>JavaScript, HTML, CSS, Ruby, PostgreSQL, SQL, ES6, TypeScript, PHP.</h5>
      <h2>Frameworks</h2>
      <h5>Angular, Rails, Sinatra, Node, Express, Rspec, Bootstrap, React, D3, jQuery, Wordpress.</h5>
      <h2>Software</h2>
      <h5>Git/Github, MS Office, Heroku, Atom, Adobe Photoshop, Adobe Illustrator, XAMPP.</h5>
      <h2>Concepts and Methodologies</h2>
      <h5>Agile, MVC, MV*, FDD</h5>
      <br>
      <h2>Work Experience</h2>
      <h3>Fairfax County - Fairfax, VA | February 2015 to Feb 2016</h3>
      <h4>ELT</h4>
      <ul>
        <li><h5>Create and moderate teen athletics and arts programs</h5></li>
        <li><h5>Design, manage and conduct successful music production program for clients</h5></li>
        <li><h5>Undertook responsibilities in IT department</h5></li>
      </ul>
    </h5>
    <br>
    <h3>District Sound Lab - Bethesda, MD | August 2012 to January 2015</h3>
    <h4>Electronic Music Producer</h4>
    <h5><ul>
      <li><h5>Served as client liaison</h5></li>
      <li><h5>Equipment maintenance</h5></li>
      <li><h5>Authored and managed lesson plans for Ableton Live Live </h5></li>
      <li><h5>Mixing Engineer</h5></li>
      <li><h5>Engineered and mixed live sound for Toby Keith's I Love This Bar &amp; Grill utilizing Midas Pro 2 Console</h5></li>
    </ul>
  </h5>

</div>
