<div class="col-md-10 col-md-offset-2">
  <div class="row">

    <div class="col-md-10 col-md-offset-2 col-height AboutMe" data-ui-sref="aboutMe">

    </div>
    <div class="col-md-10 col-md-offset-2 col-height projex" data-ui-sref="projects">

    </div>
    <div class="col-md-10 col-md-offset-2 col-height Resume" data-ui-sref="resume">

    </div>
    <a ng-href="{{vm.mailLink}}" target="_blank">
      <div class="col-md-10 col-md-offset-2 col-height artdx" ng-click="vm.mailLink">

    </div>
    </a>

  </div>
</div>
